.home_container {
    display: grid;
    height:100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:5fr 5fr 5fr 5fr 5fr 0.8fr;
    grid-template-areas:
    "content2 content3"
    "content4 content4"
    "content5 content5"
    "content6 content6"
    "content7 content7"
    "content8 content8";
   
}



#content2 {
   display:flex;
   justify-content: center;
   align-items: center;
    grid-area:content2;
   
}
#content3 {
   
    grid-area:content3;
}
#content4 {
    grid-area:content4;
 
}
#content5 {
    display: flex;
justify-content: center;
align-items: center;
grid-area:content5;

}
#content6 {
    
    grid-area:content6;
}
#content7 {
   
    grid-area:content7
}

#content8 {

  
    grid-area: content8;
}

@media only screen and (max-width:750px){
   .home_container {
       grid-template-areas:
       "content2"
       "content3"
       "content4"
       "content5"
       "content6"
       "content7"
       "content8";
   }

   #content2,#content3,#content4,#content5,#content6,#content7,#content8 {
       width:100vw;
   }
}