.section7_container {
    width:100%;
    min-height:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    background-color:rgb(41, 40, 40);
}

.section7_contact_detail_container {
    width:98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height:200px;
    background-color: lemonchiffon;
}

.section7_contact_detail {
    width:30%;
    min-height:200px;
    background-color: lightcoral;
}


.section7_contact_form {
    width:35%;
    height:290px;
    background-color: lightcoral;
}


.section7_copyright_box {
    color:white;
}