.section6_container {
    width:100%;
    min-height:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
  
}


.section6_line {
    width:80%;
    height:1px;
    margin-top:30px;
    background-color: gray;

}

.section6_caption {
    margin-top:30px;
    font-size:4vw;
    font-weight: 500px;
    margin-bottom: 30px;
    text-shadow:1px 3px gray;

}

.section6_text {
    font-size:18px;
    margin-top:-70px;
}

.section6_reviews_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
min-width:70%;
min-height:300px;

}


.section6_review {
    width:30%;
    min-height:200px;
    display: flex;
    flex-direction:column;
   align-items: center;
   box-shadow: 0px 0px 2px 0px gray;
  
}


.section6_review_by {
    width:95%;
   
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    min-height:30px;
    padding:5px;
  
}



.section6_avatar_detail {
    width:90%;
    font-size:18px;
    padding: 5px;
    margin-left:10px;
}


.section6_avatar_detail >p {
    font-size:16px;
    color: gray;
}

.section6_review_text {
    width:95%;
min-height:150px;
padding:10px;
font-size: 15px;
padding:10px;
}


@media only screen and (max-width:650px){

    .section6_caption {
        font-size: 40px;
        font-weight:400;
    }

    .section6_reviews_container {
        flex-direction: column;
        min-height:800px;
        margin-top:50px;
        width:95%;
    }
    .section6_text {
        font-size:17px;
        margin-top:-20px;
    }

    .section6_review {
        width:90%;
        min-height:150px;

    }

    .section6_review_by {
        font-size:17px;
        min-height:40px;
    }

    .section6_review_text {
        font-size:15px;
        min-height:130px;
    }

    .section6_id {
        font-size: 15px;
    }
}